$color-gray: #98a2b3;
.show-uploaded-image-size {
  height: 96px;
  width: 96px;
}
.show-uploaded-font-fit {
  overflow-wrap: break-word;
}
.show-uploaded-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.show-uploaded-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.show-uploaded-badge {
  height: 25px;
  width: 25px;
}
.show-uploaded-name-box {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}
.show-uploaded-box {
  width: 100%;
}
.show-uploaded-close {
  font-size: 20px;
  color: #98a2b3;
  cursor: pointer;
}
